html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body {
  /* fallback */
  background-color: #f2fbf3;
  /* gradiente suave com 3 tons verdes (leve e natural) */
  background-image: linear-gradient(to right, #f2fbf3, #dff6e4, #cdeeca);
  margin-bottom: 80px;
}