{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/no_permission.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="shotcut icon" href="{% static 'img/eoc_pers_icone_sfundo.png' %}" type="image/png">

    <title>Unauthorized</title>
  </head>

  <body>
    <div class="d-flex justify-content-center" style="margin-top: 100px;">
      <div class="card">
        <div class="header">
          <div class="image">
            <svg
              aria-hidden="true"
              stroke="currentColor"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
                stroke-linejoin="round"
                stroke-linecap="round"
              ></path>
            </svg>
          </div>
          <div class="content">
            <span class="title">Permissão negada</span>
            <p class="message">
              Você não tem permissão para fazer isso, caso seja necessario entre
              em contato com o administrador do sistema
            </p>
          </div>
          <div class="actions">
            <!-- <button class="desactivate" type="button">Deactivate</button> -->
            <button class="cancel" type="button">
              <a href="{% url 'home' %}" style="text-decoration: none; color: black;">
                OK
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
