{% extends 'commons/include/nav_user.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/pesquisas.css' %}">
  <link rel="stylesheet" href="{% static 'css/btn_paginator.css' %}">
  <link rel="stylesheet" href="{% static 'css/btn_white.css' %}">
{% endblock css %}

{% block content %}

<div class="bg-light px-4 py-3 rounded shadow-sm">
  <h3 class="text-dark fw-bold mb-0 text-center">
    Listar solicitações recebidas
  </h3>
</div>

<div class="row gap-2 mt-3 p-1 ms-1">
  <div class="col-md-auto p-2 bg-light">
    <h5>Solicitações de pesquisa</h5>
    <button onclick="carregarPesqAprovada()" class="white_button">
      <span class="button_top_menu"> Aprovadas </span>
    </button>

    <button onclick="carregarPesqNaoAprovada()" class="white_button">
      <span class="button_top_menu"> Não aprovadas </span>
    </button>
  </div>

  <div class="col-md-auto p-2 bg-light">
    <h5>Solicitações de UGAI</h5>
    <button onclick="carregarSolicUgai()" class="white_button">
      <span class="button_top_menu"> UGAI </span>
    </button>
  </div>
</div>

<div id="container-resultados"></div>

<hr>
<div class="button-container">

  <button class="button-3d" id="btn-anterior">
    <div class="button-top">
      <span class="material-icons">❮</span>
    </div>
    <div class="button-bottom"></div>
    <div class="button-base"></div>
  </button>

  <span id="info-pagina" class="mt-4">Página X de Y</span>

  <button class="button-3d" id="btn-proximo">
    <div class="button-top">
      <span class="material-icons">❯</span>
    </div>
    <div class="button-bottom"></div>
    <div class="button-base"></div>
  </button>

</div>

{% endblock content %}

{% block js %}
  <script src="{% static 'js/return_resp_list.js' %}"></script>
{% endblock js %}