{% extends 'commons/include/nav_user.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/pesquisas_solic/pesquisas.css' %}">
  <link rel="stylesheet" href="{% static 'css/buttons/btn_paginator.css' %}">
  <link rel="stylesheet" href="{% static 'css/buttons/btn_white.css' %}">
{% endblock css %}

{% block content %}

<div class="d-flex justify-content-center">
  <h3 class="text-dark">
    Listar solicitações recebidas</h3>
</div>

<button onclick="carregarPesqAprovada()" class="white_button">
  <span class="button_top_menu"> Aprovadas </span>
</button>

<button onclick="carregarPesqNaoAprovada()" class="white_button">
  <span class="button_top_menu"> Não aprovadas </span>
</button>

<button onclick="carregarSolicUgai()" class="white_button">
  <span class="button_top_menu"> UGAI </span>
</button>

<div id="container-resultados"></div>

<hr>
<div class="button-container">

  <button class="button-3d" id="btn-anterior">
    <div class="button-top">
      <span class="material-icons">❮</span>
    </div>
    <div class="button-bottom"></div>
    <div class="button-base"></div>
  </button>

  <span id="info-pagina" class="mt-4">Página X de Y</span>

  <button class="button-3d" id="btn-proximo">
    <div class="button-top">
      <span class="material-icons">❯</span>
    </div>
    <div class="button-bottom"></div>
    <div class="button-base"></div>
  </button>

</div>

{% endblock content %}

{% block js %}
  <script src="{% static 'js/return_resp_list.js' %}"></script>
{% endblock js %}