{% extends 'commons/include/nav_user.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/buttons/btn_white.css' %}">
{% endblock css %}

{% block content %}

<div class="d-flex justify-content-center">
  <h3 class="text-dark">
    Selecione o tipo de solicitação</h3>
</div>

<ul class="nav justify-content-center fs-5 gap-3 p-3">
  <li class="nav-item">
    <a href="{% url 'solic_pesq' %}" class="white_button">
      <span class="button_top_menu"> Solicitar Pesquisa </span>
    </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'solic_ugai' %}" class="white_button">
      <span class="button_top_menu"> Autorização UGAI </span>
    </a>
  </li>
</ul>

{% endblock content %}