{%  load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bs5/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/form_login.css' %}">
  <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
  <link rel="shotcut icon" href="{% static 'img/eoc_pers_icone_sfundo.png' %}" type="image/png">
  <title>LOGIN</title>
</head>

<body>

  {% if messages %}
    <div class="d-flex justify-content-center animate__animated animate__fadeInDown">
      <div class="w-50">{% include 'commons/include/msg_pages/alert_error_message.html' %}</div>
    </div>
  {% endif %}

  <div class="d-flex justify-content-center mt-4">
    <div class="container">
      <div class="heading">
        <img src="{% static 'img/eoc_pers_icone_sfundo.png' %}" width="135px">
      </div>
      <form class="form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input
          placeholder="Usuario"
          id="usuario"
          name="username"
          type="text"
          class="input"
          required=""
        />
        <input
          placeholder="Senha"
          id="password"
          name="password"
          type="password"
          class="input"
          required=""
        />
        <input value="Entrar" type="submit" class="login-button" />
      </form>
    </div>
  </div>

  <footer class="fixed-bottom" style="backdrop-filter: blur(50px);">
    <div class="d-flex justify-content-center fs-5" style="font-family: 'Times New Roman', Times, serif">
      SEMA-AC<span class="text-white">(DEV-Wilian)</span>
    </div>
  </footer>

</body>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
