{% extends 'commons/include/nav_user.html' %}
{% load static %}

{% block title %}HOME | PERFIL{% endblock %}

{% block content %}

<div class="container">
  <div class="card shadow-sm">
    <div class="card-header">
      <div class="row">
        <div class="col-md-auto">
          <h4 class="mb-0">{{ request.user.username }}</h4>
        </div>
      </div>
    </div>
    <div class="card-body">
      <h5 class="text-secondary mb-3">Informações Pessoais</h5>
      {% for x in objs %}
        <table class="table table-hover">
          <tbody>
            <tr>
              <th scope="row">Nome Completo</th>
              <td>{{ x.nome }}</td>
            </tr>
            <tr>
              <th scope="row">Sexo</th>
              <td>
                {% if x.sexo == 'M' %}
                  Masculino
                {% else %}
                  Feminino
                {% endif %}
              </td>
            </tr>
            <tr>
              <th scope="row">Estado</th>
              <td>{{ x.estado }}</td>
            </tr>
            <tr>
              <th scope="row">Município</th>
              <td>{{ x.municipio }}</td>
            </tr>
            <tr>
              <th scope="row">Endereço</th>
              <td>{{ x.endereco }}</td>
            </tr>
            <tr>
              <th scope="row">Celular</th>
              <td>{{ x.celular }}</td>
            </tr>
            <tr>
              <th scope="row">RG</th>
              <td>{{ x.rg }}</td>
            </tr>
            <tr>
              <th scope="row">Orgão Emissor</th>
              <td>{{ x.org_emiss }}</td>
            </tr>
            <tr>
              <th scope="row">CPF</th>
              <td>{{ x.cpf }}</td>
            </tr>
            <tr>
              <th scope="row">Telefone Fixo</th>
              <td>
                {% if x.telefone_fixo %}
                  {{ x.telefone_fixo }}
                {% else %}
                  não informado
                {% endif %}
              </td>
            </tr>
            <tr>
              <th scope="row">CEP</th>
              <td>{{ x.cep }}</td>
            </tr>
            <tr>
              <th scope="row">Profissão</th>
              <td>{{ x.profis }}</td>
            </tr>
            <tr>
              <th scope="row">Email</th>
              <td>{{ x.email }}</td>
            </tr>
          </tbody>
        </table>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}