{% extends 'commons/base.html' %}
{% load static %}

{% block content %}

<div class="container my-4">
  <div class="card shadow-sm">
    <div class="card-header">
      <h4 class="mb-0">Bem-vindo, {{ request.user.username }} 👋</h4>
    </div>
    <div class="card-body">
      <h5 class="text-secondary mb-3">Informações Pessoais</h5>
      {% for x in objs %}
        <table class="table table-hover">
          <tbody>
            <tr>
              <th scope="row">Nome Completo</th>
              <td>{{ x.nome }}</td>
            </tr>
            <tr>
              <th scope="row">Sexo</th>
              <td>{{ x.sexo }}</td>
            </tr>
            <tr>
              <th scope="row">Estado</th>
              <td>{{ x.estado }}</td>
            </tr>
            <tr>
              <th scope="row">Município</th>
              <td>{{ x.municipio }}</td>
            </tr>
            <tr>
              <th scope="row">Endereço</th>
              <td>{{ x.endereco }}</td>
            </tr>
            <tr>
              <th scope="row">Celular</th>
              <td>{{ x.celular }}</td>
            </tr>
            <tr>
              <th scope="row">RG</th>
              <td>{{ x.rg }}</td>
            </tr>
            <tr>
              <th scope="row">Orgão Emissor</th>
              <td>{{ x.org_emiss }}</td>
            </tr>
            <tr>
              <th scope="row">CPF</th>
              <td>{{ x.cpf }}</td>
            </tr>
            <tr>
              <th scope="row">Telefone Fixo</th>
              <td>{{ x.telefone_fixo }}</td>
            </tr>
            <tr>
              <th scope="row">CEP</th>
              <td>{{ x.cep }}</td>
            </tr>
            <tr>
              <th scope="row">Profissão</th>
              <td>{{ x.profis }}</td>
            </tr>
            <tr>
              <th scope="row">Email</th>
              <td>{{ x.email }}</td>
            </tr>
          </tbody>
        </table>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}