{% extends 'commons/include/nav_user.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="card shadow-sm">
    <div class="card-header">
      <div class="row">
        <div class="col-md-auto">
          <h4 class="mb-0">{{ request.user.username }}</h4>
        </div>

        <!-- <div class="col-md-auto ms-auto">
          <a href="{% url 'logout' %}">
            <button class="Btn_logout bg-danger">
                <div class="sign">
                    <svg viewBox="0 0 512 512">
                      <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9
                        406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7
                        14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0
                        17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7
                        0 32 14.3 32 32s-14.3 32-32 32z"></path>
                    </svg>
                </div>
                <div class="text">Sair</div>
            </button>
          </a>
        </div> -->
      </div>
    </div>
    <div class="card-body">
      <h5 class="text-secondary mb-3">Informações Pessoais</h5>
      {% for x in objs %}
        <table class="table table-hover">
          <tbody>
            <tr>
              <th scope="row">Nome Completo</th>
              <td>{{ x.nome }}</td>
            </tr>
            <tr>
              <th scope="row">Sexo</th>
              <td>
                {% if x.sexo == 'M' %}
                  Masculino
                {% else %}
                  Feminino
                {% endif %}
              </td>
            </tr>
            <tr>
              <th scope="row">Estado</th>
              <td>{{ x.estado }}</td>
            </tr>
            <tr>
              <th scope="row">Município</th>
              <td>{{ x.municipio }}</td>
            </tr>
            <tr>
              <th scope="row">Endereço</th>
              <td>{{ x.endereco }}</td>
            </tr>
            <tr>
              <th scope="row">Celular</th>
              <td>{{ x.celular }}</td>
            </tr>
            <tr>
              <th scope="row">RG</th>
              <td>{{ x.rg }}</td>
            </tr>
            <tr>
              <th scope="row">Orgão Emissor</th>
              <td>{{ x.org_emiss }}</td>
            </tr>
            <tr>
              <th scope="row">CPF</th>
              <td>{{ x.cpf }}</td>
            </tr>
            <tr>
              <th scope="row">Telefone Fixo</th>
              <td>
                {% if x.telefone_fixo %}
                  {{ x.telefone_fixo }}
                {% else %}
                  não informado
                {% endif %}
              </td>
            </tr>
            <tr>
              <th scope="row">CEP</th>
              <td>{{ x.cep }}</td>
            </tr>
            <tr>
              <th scope="row">Profissão</th>
              <td>{{ x.profis }}</td>
            </tr>
            <tr>
              <th scope="row">Email</th>
              <td>{{ x.email }}</td>
            </tr>
          </tbody>
        </table>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}