{% extends 'commons/include/nav_user.html' %}
{% load static %}

{% block title %}HOME | MINHAS_SOLIC{% endblock %}

{% block content %}

{% if quant_pesq %}
  <h5>({{ quant_pesq }}) Solicitação(s) de pesquisa</h5>
{% endif %}

{% if pesquisas %}
  {% for x in pesquisas %}
      <div class="list-group">
        <a href="{% url 'info_pesquisa' x.id %}" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">ATUAÇÃO: {{ x.area_atuacao }}</h5>
            <small class="text-muted">{{ x.data_solicitacao }}</small>
          </div>
          <p class="mb-1">{{ x.acao_realizada }}</p>
          <small class="text-muted">
            {% if x.status == False %}
              AGUARDANDO/FINALIZADO
            {% else %}
              EM-ANDAMENTO
            {% endif %}
          </small>
        </a>
      </div>
  {% endfor %}
{% endif %}

{% if quant_ugai %}
    <hr>
  <h5>({{ quant_ugai }}) Solicitação(s) de UGAI</h5>
{% endif %}

{% if ugais %}
  {% for x in ugais %}
    <div class="list-group">
      <a href="{% url 'info_solic_ugai' x.id %}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">UGAI: {{ x.ugai }}</h5>
          <small class="text-muted">{{ x.data_solicitacao }}</small>
        </div>
        <p class="mb-1">{{ x.ativ_desenv }}</p>
        <small class="text-muted">
          {% if x.status == False %}
            AGUARDANDO/FINALIZADO
          {% else %}
            EM-ANDAMENTO
          {% endif %}
        </small>
      </a>
    </div>
  {% endfor %}
{% endif %}

{% endblock content %}