{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-4" style="height: 400px;">
        <canvas id="pie_ugais"></canvas>
      </div>
      <div class="col-md-8">
        <!-- <canvas id="ctxBarUgais"></canvas> -->
      </div>
    </div>
  </div>

{% endblock content %}

{% block js %}
  <!-- <script src="{% static 'dashboard/js/bar_chart.js' %}"></script> -->
  <!-- <script src="{% static 'dashboard/js/pizza_chart.js' %}"></script> -->
  <script src="{% static 'dashboard/js/chart.js' %}"></script>
  <script src="{% static 'dashboard/js/resp_home.js' %}"></script>
{% endblock js %}