{% extends 'commons/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/pesquisas_solic.css' %}">
{% endblock css %}

{% block content %}

<div class="mb-4">
  <h3>Atual:
    <span class="text-primary" id="h3_title"></span>
  </h3>
</div>

<div class="mb-2">
  <button class="btn btn-secondary" onclick="filtrar_pesquisas(1)" id="aguard_aprovacao">
    Aguardando aprovação</button>
  <button class="btn btn-secondary" onclick="filtrar_pesquisas(2)" id="aprovados">
    Ultimas Aprovadas</button>
</div>

{% for x in objs %}
{% if x.status == True %}
<a href="{% url 'info_pesquisa' x.id %}" id="pesq_andamento">
<div class="card mb-3">
  <div class="row g-0">
    <!-- <div class="col-md-4">
              <img src="..." class="img-fluid rounded-start" alt="...">
            </div> -->
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{ x.acao_realizada }}</h5>
        <p class="card-text">Tipo de solicitação: {{ x.tipo_solic }}</p>
      </div>
    </div>

    <!-- <div class="col-md-2">
      <div class="mt-4">
        <button class="btn btn-success">Aprovar</button>
      </div>
    </div> -->
  </div>
</div>
</a>
{% else %}
<a href="{% url 'info_pesquisa' x.id %}" id="aguardando_aprov">
<div class="card mb-3">
  <div class="row g-0">
    <!-- <div class="col-md-4">
              <img src="..." class="img-fluid rounded-start" alt="...">
            </div> -->
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{ x.acao_realizada }}</h5>
        <p class="card-text">Tipo de solicitação: {{ x.tipo_solic }}</p>
      </div>
    </div>
  </div>
</div>
</a>
{% endif %}
{% endfor %}

{% endblock content %}

{% block js %}
  <script src="{% static 'js/pesquisas_solic.js' %}"></script>
{% endblock js %}